@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  min-height: 100vh;
  width: 100vw;
  background: url('./Assets/background-img.png') center center / cover no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
